.body-title {
   padding: 30px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #fff;
}

#galleries {
position: relative;
max-width: 100%;
width: 100%;
text-align:center;
}
#galleries img {
width: 100%;
max-width: 100%;
height: auto;
}
.white-panel {
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.aboutus {
	line-height: 32px;
	font-size: 20px;
	text-align: justify;
}
.gallery img{
	width: 100%;
	margin-bottom: 20px;
	float:left;
	
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    padding: 15px;
    padding-bottom: 5px;
}

.pin img:hover{
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);

}
.gallery img:hover{
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);

}

.home img{
	padding-top:5%;
	width:50%;
	padding-bottom:15%;
}
.box{
	background-color: rgba(190,29,45,1); 
	padding: 20px;
	color: #fff;
}

.imghomebg img{
	padding-top: 30%;
	padding-bottom: 30%;
}

.boxtitle h1 {
	color: #fff;
}

.boxtitle h1 span{
	color: #BE1D2D;
}

.boxdesc p{
	font-size: 16px;
	line-height: 30px;
	text-align: justify;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 16px;
    height: 50px;
	line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  
  color: #BE1D2D;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: rgba(190,29,45,1); /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(190,29,45,1)), to(rgba(190,29,45,1)));
  background-image: -webkit-linear-gradient(top, rgba(190,29,45,1) 0%, rgba(190,29,45,1) 100%);
  background-image:      -o-linear-gradient(top, rgba(190,29,45,1) 0%, rgba(190,29,45,1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, rgba(190,29,45,1)), to(rgba(190,29,45,1)));
  background-image:         linear-gradient(top, rgba(190,29,45,1) 0%, rgba(190,29,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid rgba(190,29,45,1);
}

.nav > li > a:hover,
.nav > li > a:focus {
	color: rgba(190,29,45,1);
}

.nav-justified > li > ul > li a {
  margin-bottom: 0;
  padding: 15px 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: rgba(190,29,45,1); /* Old browsers */
 
}
.nav-justified > li > ul > li a:hover, 
.nav-justified > li > ul > li a:focus {
  
  color: rgba(190,29,45,1);
  
  background-color: #ddd; /* Old browsers */
 
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
